.body {
  position: relative;
  display: block;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $color-black;
  background-color: $color-white;
  text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  scroll-behavior: smooth;
}
