.section-heading {
  margin: 0 0 40px;
  font-weight: 900;
  font-size: 32px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 1;
  //color: #080898;
  color:  #000000;
  //text-align: center;

  sup {
    font-size: 20px;
  }
}
